@font-face {
  font-family: 'Greek-Freak';
  src: url('./fuentes/Greek-Freak.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(#2c2f42, #131520);
  background: radial-gradient(#161721, #131520);
  height: 100vh;
  color: #f9f9f9;
  font-family: 'Greek-Freak', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #f9f9f9;
  text-decoration: none;
}