header {
    background-color: transparent;
}

.color {
    background-color: #050408;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    letter-spacing: 2px;
}

.Titulo h1{
    font-size: 35px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

#Menu {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px;
    position: relative;
    margin-right: auto;
    margin-left: 32px;
}

img {
    height: 75%;
    width: 73px;
    padding: 0;
    margin-top: 4px;
    max-height: 70px;
    font-size: 0;
    display: inline-block;
}

#Menu a {
    display: inline;
    align-items: center;
    margin: 0 20px;
}

#Menu a span {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1.15px;
    line-height: 1.08;
    padding: 2px 0px;
    margin-left: 10px;
    bottom: 5px;
    position: relative;
}

#Menu a:hover span::after {
    content: "";
    display: block;
    height: 2.5px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: -7px;
    left: 0;
    transition: width 0.2s ease-in-out;
}

#Menu a span::after {
    content: "";
    display: block;
    height: 2.5px;
    width: 0%;
    background-color: white;
    position: absolute;
    bottom: -7px;
    left: 0;
    transition: width 0.2s ease-in-out;
    pointer-events: none;
}

@media screen and (max-width: 765px) {
    #Menu {
        margin-left: 23px;
    }
        
    #Menu a {
        display: inline;
        align-items: center;
        margin: 0 10px;
        margin-bottom: 5px;
    }
    
    #Menu a img {
        height: 20px;
        min-width: 20px;
        width: 20px;
        margin-bottom: -5px;
        margin-right: 10px;
    }
    
    #Menu a span {
        color: #ffffff;
        font-size: 0px;
        font-weight: bold;
        letter-spacing: 1.15px;
        line-height: 1.08;
        padding: 2px 0px;
        position: relative;
    }
    
    #Menu a:hover span::after {
        content: "";
        display: block;
        height: 2.5px;
        width: 100%;
        background-color: white;
        position: absolute;
        bottom: -7px;
        left: 0;
        transition: width 0.2s ease-in-out;
    }
    
    #Menu a span::after {
        content: "";
        display: block;
        height: 2.5px;
        width: 0%;
        background-color: white;
        position: absolute;
        bottom: -7px;
        left: 0;
        transition: width 0.2s ease-in-out;
        pointer-events: none;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
}

main {
    margin-top: 100px;
}

header.sticky {
    transform: translateY(-100%);
}